@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  font-family: sans-serif; /* Elige la fuente que prefieras  */
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.bg-custom {
  background-color: #f8f9fa; /* Color de fondo claro */
  border: 1px solid #ddd; /* Borde para destacar el contenedor */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

h1,
h2,
h3 {
  font-weight: bold;
  color: #2e56a8; /* Un azul para los títulos  */
  font-family: "Montserrat", sans-serif;
}
.subtitutlo {
  font-size: 40px;
}
.nav__logo__blanco {
  display: none;
}
.nav__logo__negro {
  display: block;
}
.navbar-brand img {
  margin-right: 10px;
}
.home__cards {
  gap: 40px;
  justify-content: space-around;
}
.home__cards__col {
  max-width: 350px;
}
.btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
}
.navbar{
  background-color: #fff;
}
.nav-link {
  color: #000; /* Asegura que el color negro tenga prioridad */
  transition: color .8s ease; /* Transición suave para el color */
}
.nav-link:hover {
  color: #0056b3; /* Cambia a un azul más llamativo al pasar el mouse */
}
.nav-link.active {
  font-weight: bold;
  color: #0056b3 !important; /* Cambia el color del texto */
  border-bottom: 2px solid #0056b3; /* Línea debajo del texto */
}
.btn-primary:hover {
  background-color: #004085;
  border-color: #004085;
}
.container__servicios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.container__nosotros {
  display: flex;
  flex-flow: column wrap;
}
.contacto {
  margin-top: 60px;
  position: relative;
  left: 35%;
}
/* Estilos para la Sección Hero  */
.bg-light {
  background-color: #f8f9fa !important; /* Un gris muy claro  */
}

.text-light {
  color: #ffffff !important;
}
.img__card {
  width: 100%;
  height: 300px;
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  margin-bottom: 10px;
}
.img__card__equipo {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  margin-bottom: 10px;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.section__card {
  display: flex;
  flex-wrap: wrap;
}
.card__nosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 150px;
}
.section__clientes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}
.section__clientes__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.contacto__form {
  padding: 15px 25px;
  margin-bottom: 30px;
}
.contacto__form_enviar {
  width: 100%;
}
.contacto__card__info {
  margin-bottom: 200px;
}
.card {
  margin-bottom: 5px;
}
.card__body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: auto;
}
.container__servicios__info{
  gap: 20px;
}
.iconos {
  fill: currentColor;
}
.footer__icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.footer__info ul li{
  list-style: none;
  font-weight: 400;
  font-size: 12px;
}
/* Estilo para un footer */
footer {
  height: 300px;
  width: 100%;
  background-color: #343a40; /* Fondo oscuro */
  color: #ffffff; /* Texto claro */
  text-align: center;
  /* padding: 10px 0; */
  /* z-index: 1; Asegura que esté encima de otros elementos */
}
/* Ajustes específicos para iPhone 14 Pro Max y dispositivos similares */
@media (max-width: 430px) and (max-height: 932px) {
  body {
    padding-bottom: 450px; /* Aumenta el espacio para evitar que el footer cubra el contenido */
  }

  main {
    padding-bottom: 300px; /* Aumenta el espacio inferior del contenido principal */
  }

  .navbar-toggler {
    position: fixed;
    bottom: 220px; /* Ajusta la posición del botón del menú más arriba */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1051; /* Asegura que esté encima del contenido */
    width: 80px;
    height: 150px;
    font-size: 2rem;
    border-radius: 50%;
    padding: 0;
  }

  .navbar-collapse {
    position: fixed;
    bottom: 220px; /* Justo encima del botón del menú */
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    z-index: 1050;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s linear, transform 0.3s linear;
  }

  .navbar-collapse.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    opacity: 1;
    transform: translateY(0);
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 110px;
  }
  .home__cards {
    justify-content: space-around;
  }
  .contacto__form_enviar {
    width: 100%;
  }
  .inicio__footer{
    height: 135px;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 135px; /* Define una altura fija para el footer */
    z-index: 1000; /* Asegura que esté debajo del menú desplegable */
  }
}

/* Ajustes generales para dispositivos móviles */
@media (max-width: 991.98px) {
  body {
    padding-bottom: 200px; /* Aumenta el espacio para el footer y el botón del menú */
  }

  main {
    padding-bottom: 150px; /* Asegura que el contenido principal no quede cubierto */
  }

  .navbar-toggler {
    position: fixed;
    bottom: 70px; /* Ajusta la distancia desde la parte inferior */
    left: 90%;
    transform: translateX(-50%);
    z-index: 1051;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    border-radius: 50%;
    padding: 0;
  }

  .navbar-collapse {
    position: fixed;
    bottom: 180px; /* Justo encima del botón del menú */
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    z-index: 1050;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s linear, transform 0.3s linear;
  }

  .navbar-collapse.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    opacity: 1;
    transform: translateY(0);
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Define una altura fija para el footer */
    z-index: 1000; /* Asegura que esté debajo del menú desplegable */
  }
}
